.blog-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;

    .blog {
        width: 35%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 3%;
        padding: 5px;
        text-align: center;
        word-break: break-word;
        border: 5px solid #E25DCB;
        border-radius: 5px;
        @media screen and (min-width: 1024px) {
            width: 15%;
        }

        input {
            width: 80%;
            color: #1CC1E3;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            border: 2px solid #1CC1E3;
            border-radius: 5px;
            padding: 5px;
        }

        .warning {
            background-color: #e25dcc63;
        }
    
        p {
            font-size: 1.5rem;
            font-weight: bold;
            color: #1CC1E3;
            cursor: pointer;
            &:hover {
                border-top: 3px solid transparent;
                border-bottom: 3px solid black;
            }
        }
    
        .changeBtn {
            position: absolute;
            top: 0;
            right: 3%;
            padding: 5px;
            cursor: pointer;
            color: #e25dcc3b;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            &:hover {
                color: black;
            }
        }
    }
}